@font-face {
  font-family: "Manrope";
  src: url("/manrope-extrabold.1d682e25.woff2") format("woff2"), url("/manrope-extrabold.e946383f.woff") format("woff"), url("/manrope-extrabold.0f05658b.otf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Manrope";
  src: url("/manrope-bold.498ef638.woff2") format("woff2"), url("/manrope-bold.2e42881a.woff") format("woff"), url("/manrope-bold.5401b32f.otf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("/manrope-semibold.4962abe0.woff2") format("woff2"), url("/manrope-semibold.0240b14c.woff") format("woff"), url("/manrope-semibold.60ff9e9e.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("/manrope-medium.321f248d.woff2") format("woff2"), url("/manrope-medium.62a45712.woff") format("woff"), url("/manrope-medium.c32c399d.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("/manrope-regular.0ffe81bb.woff2") format("woff2"), url("/manrope-regular.37b5d2bb.woff") format("woff"), url("/manrope-regular.f2fe2dba.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("/manrope-light.18378f8b.woff2") format("woff2"), url("/manrope-light.7335e5e5.woff") format("woff"), url("/manrope-light.74fd8c7b.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url("/manrope-thin.05061ded.woff2") format("woff2"), url("/manrope-thin.2337eee7.woff") format("woff"), url("/manrope-thin.d807f3a1.otf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
:root {
  --c_accent: #FF4E00;
  --c_text: #111;
  --c_background: #E4E4E4;
  --c_accent--dark: #f00;
  --c_text--dark: #fff;
  --c_background--dark: #222;
  --spacing: 15px;
}
@media screen and (min-width: 690px) {
  :root {
    --spacing: 30px;
  }
}

body {
  margin: 0;
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: var(--c_text);
  background-color: var(--c_background);
  line-height: 1.15;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  padding: 5px var(--spacing);
  position: fixed;
  z-index: 12;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  pointer-events: none;
}
@media screen and (min-width: 1000px) {
  header {
    padding: 10px 30px;
  }
}
header .logo {
  font-size: 10vw;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--c_accent);
  line-height: 1;
  margin: 0;
  transition: 0.1s;
}
@media screen and (min-width: 690px) {
  header .logo {
    font-size: 9vw;
  }
}
@media screen and (min-width: 1000px) {
  header .logo {
    font-size: 8vw;
  }
}
header .darkmode {
  pointer-events: auto;
  cursor: pointer;
  background: none;
  border: none;
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: var(--c_text);
  width: 100px;
  text-align: left;
  line-height: 1;
  font-size: 20px;
  position: relative;
  display: block;
  padding: 10px;
}
header .darkmode::after {
  content: "";
  background-color: var(--c_text);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: 0.2s;
  z-index: -2;
}
header .darkmode:hover {
  color: var(--c_background);
}
header .darkmode:hover::after {
  width: 100%;
}

main {
  margin: 0 var(--spacing);
}
@media screen and (min-width: 1000px) {
  main {
    margin: 0 30px;
    padding-left: calc((100vh / 12) * 3 + var(--spacing) * 3);
  }
}

section[id] {
  margin: 100px 0;
}
section[id]:first-of-type {
  margin-top: 0;
}

#intro {
  padding-top: 61.804697157vh;
}
#intro p {
  font-size: 50px;
  margin: 0;
  font-weight: 500;
}
@media screen and (min-width: 690px) {
  #intro p {
    font-size: 100px;
  }
}
@media screen and (min-width: 1000px) {
  #intro p {
    font-size: 120px;
  }
}

.projects {
  padding: 0;
  list-style: none;
  padding-top: 25vw;
}

.distort {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  will-change: transform;
  z-index: -20;
}
.distort__cover {
  opacity: 0;
}

.project {
  margin-bottom: 100px;
}
@media screen and (min-width: 690px) {
  .project {
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1000px) {
  .project {
    margin-bottom: 250px;
  }
}
.project__name {
  font-weight: bold;
}
.project__desc {
  display: block;
  font-size: 30px;
  color: currentColor;
  text-decoration: none;
  outline: none;
}
@media screen and (min-width: 690px) {
  .project__desc {
    font-size: 50px;
  }
}
@media screen and (min-width: 1000px) {
  .project__desc {
    font-size: 70px;
  }
}
.project__desc .arrow {
  display: inline-block;
  transition: 0.2s ease-out;
}
.project__desc:hover, .project__desc:focus {
  outline: none;
}
.project__desc:hover .arrow, .project__desc:focus .arrow {
  transform: translate3d(10px, 0, 0);
}

.rolling-text {
  position: absolute;
  opacity: 0.1;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: -5;
}
.rolling-text > p {
  display: block;
  font-size: 30vw;
  white-space: nowrap;
  margin: 0;
  text-transform: uppercase;
  animation: roll 10s infinite linear;
  font-weight: 900;
}

@keyframes roll {
  from {
    transform: translate3d(25%, 0, 0);
  }
  to {
    transform: translate3d(-25%, 0, 0);
  }
}

/*# sourceMappingURL=/src.a2b27638.css.map */