@import "scss/fonts";

$phi: 1.618;
$bps: 690px, 1400px;
$theme: #FF4E00, #111, #E4E4E4;
$spacing: 15px, 30px;

@mixin start-at($n) {  padding-left: calc((100vh / 12) * #{$n} + var(--spacing) * #{$n}) }
@mixin   end-at($n) { padding-right: calc((100vh / 12) * #{$n} + var(--spacing) * #{$n}) }

:root {
  --c_accent: #{nth($theme, 1)};
  --c_text: #{nth($theme, 2)};
  --c_background: #{nth($theme, 3)};
  --spacing: #{nth($spacing, 1)};

  @media screen and (min-width: nth($bps, 2)) {
  --spacing: #{nth($spacing, 2)};
  }
}

body {
  margin: 0;
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: var(--c_text);
  background-color: var(--c_background);
  line-height: 1.15;
  overflow-x: hidden;
}

header {
  margin: 5px 15px;
  position: fixed;

  @media screen and (min-width: nth($bps, 2)) {
    margin: 10px 30px;
  }

  .logo {
    font-size: 9vw; 
    font-weight: 900;
    text-transform: uppercase;
    color: var(--c_accent);
    line-height: 1;
    margin: 0;

    @media screen and (min-width: nth($bps, 2)) {
    }
  }
}

main {
  margin: 0 15px;

  @media screen and (min-width: nth($bps, 2)) {
    margin: 0 30px;
    @include start-at(3);
  }
}

section[id] {
  margin: 100px 0;
  
  &:first-of-type {
    margin-top: 0;
  }
}

#intro {
  padding-top: 100vh / $phi;

  p {
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    
    @media screen and (min-width: nth($bps, 1)) {
      font-size: 100px;
    }

    @media screen and (min-width: nth($bps, 2)) {
      font-size: 120px;
    }
  }
}

.projects {
  padding: 0;
  list-style: none;
  padding-top: 25vw;

  .project {
    margin-bottom: 200px;

    &__cover {
      width: 100%;
      min-height: 500px;
      background-color: #222;
    }

    &__name {
      margin-top: 50px;
      font-size: 50px;
    }
  }
}

.rolling-text {
  position: absolute;
  opacity: .1;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: -5;

  > p {
    display: block;
    font-size: 30vw;
    white-space: nowrap;
    margin: 0;
    text-transform: uppercase;
    animation: roll 10s infinite linear;
    font-weight: 900;
  }
}

@keyframes roll {
  from { transform: translate3d(25%, 0, 0) }
  to   { transform: translate3d(-25%, 0, 0) }
}